<tr>
    <td>Welcome, {{name}} you just signed up as developer on <strong>Monier Blog API</strong> </td>
</tr>
<tr>
    <td>
        <a href="http:localhost:5000/developer/verify/{{token}}"
            style="color: #fff; padding: 5px background-color: rgb(32, 167, 99)">Verify your email
         </a>
    </td>
</tr>