<table >
    <tr style="color: #fff; padding: 5px background-color: rgb(32, 167, 99)">
        <td>Monier Blog</td>
    </tr>
    {{{body}}}
    <tr>
        Copyright &copy; all reserved to Amr Monier {{year}}
    </tr>
</table>